fastapi
langchain
openai
psycopg2-binary==2.9.5
pylint
python-dotenv==0.21.1
urlfetch
uvicorn==0.20.0
yapf==0.32.0
gpt_index
tiktoken
pydantic
bs4
streamlit
watchdog
pandas
numpy
pypdf
# unstructured[local-inference]
# detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2
# python-poppler